{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <h1>Hello, {{ user }}</h1>
    <h2>Your status is Student</h2>
    <hr>
    {% if courses %}
    <h2>Here is the list of your courses:</h2>
    <table class="table">
        <tr>
            <td><h3>Name</h3></td>
            <td><h3>Subject</h3></td>
            <td><h3>Teacher</h3></td>
            <td><h3>Length</h3></td>
            <!--td></td-->
        </tr>
        {% for i in courses %}
        <tr>
            <td><a href="/course/?course_id={{ i.id }}">{{ i.name }}</a></td>
            <td>{{ i.subject }}</td>
            <td>{{ i.teacher.name }}</td>
            <td>{{ i.length }} months</td>
            <!--td><a class="button-red" href="/unselect_course/?course={{ i.id }}">Unsubscribe</a></td-->
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <h2>You have no any courses</h2>
        <a class="high" href="/">Find courses for me!</a>
    {% endif %}

{% endblock %}